In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.feature_selection import RFECV, RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from xgboost import XGBClassifier
from xgboost import plot_importance

In [ ]:
data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}
employee_df = pd.DataFrame(data)
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [ ]:
#Use the iloc method to select the first 3 rows of the dataframe.

new_data= employee_df[0:4]
print(new_data)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5

In [ ]:
#Use the loc method to select all rows where the Department is "Marketing".

Neww_data = employee_df.loc[employee_df['Department']  == 'Marketing']
print(Neww_data)

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [ ]:
#Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.

Neww_ddata = employee_df.iloc[:4, [2, 3]]
print(Neww_ddata)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [ ]:
#Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".

Neeww_ddata = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print(Neeww_ddata)

   Salary  Experience
0   50000           3
2   45000           2
4   70000          10